@import "tailwindcss";

@theme {
  --color-shift-assigned: #4F46E5;
  --color-shift-additional: #10B981;
  --color-shift-available: #9CA3AF;
}

body {
  @apply bg-gray-50 text-gray-900 antialiased;
}
